/*
body {

*/

.haut {
 margin-top: 11vh;
 }



h1{
 //font-family: 'Sedgwick Ave', cursive;
 font-family: 'Sedgwick Ave Display', cursive;
 font-size: 70px;
}

.image{
 background-image: url("../../image/img.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh;
}
